<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="MSSqlDataSource.Properties.Settings.AppleStructureConnectionString"
      connectionString="Data Source=FORGE-JITA\SQLEXPRESS2016;Initial Catalog=AppleStructure;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>